<%-include('header')%>

<form action="/cart-added" method="post">
    <h1>Cart Added successfully</h1>

    <button type="submit" name="btn" value="home-page">Go to home</button>
    <button type="submit" name="btn" value="cart-page">View Cart Items</button>
</form>



<%-include('footer')%>